<!-- cal/templates/cal/base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>UniCal</title>
  <link rel="shortcut icon" type="image/png" href="{% static '/events/logo.png' %}"/>

  {% include 'base/bootstrap_defaults.html' %}
  {% include 'base/js.html' %}

  {% include 'base/css.html' %}

</head>

<script>
$(document).ready(function(){
  {% block jquery %}{% endblock %}
})
</script>

<body>
  {% block content %}
  {% endblock %}
</body>


</html>