<!-- cal/templates/cal/base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>UniCal</title>
  <link rel="shortcut icon" type="image/png" href="{% static '/events/logo.png' %}"/>

  {% include 'base/bootstrap_defaults.html' %}
  {% include 'base/js.html' %}

  {% include 'base/css.html' %}

  {% block head %}
  {% endblock %}

</head>

<script>
$(document).ready(function(){
  {% block jquery %}{% endblock %}
})
</script>

<body>


  <div id = "container_id">
    <div id="header">
      <a href="/calendar"><img class="logo" src="{% static '/events/logo.png' %}"></a>
      <div class="nav">
        <a href="/calendar"><h1 id="title1">unical</h1></a>
      </div>
      
    </div>

    <div id="nav">
    <ul>
      <li><a href="/calendar">Calendar</a></li>
      <!-- <li><a href="#">Browse Clubs</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Contact</a></li> -->
      <li style="float:right;"><a href="#">Logout</a></li>
      </ul>
    </div>
    {% block content %}
    {% endblock %}


  </div>

</body>

<div>
  <p>Footer</p>
</div>


</html>