<!-- cal/templates/cal/base.html -->

{% load staticfiles %}
<!doctype html>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Django Calendar App</title>

  {% include 'base/css.html' %}
  {% include 'base/bootstrap_defaults.html' %}
  {% include 'base/js.html' %}

 
  {% block script %}
  {% endblock %}

  <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
  </script>


  {% block content %}
  {% endblock %}