{% extends 'base.html' %}
{% load static %}



{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'events/css/search.css' %}">
{% endblock %}

<script>
{% block jquery %}

// Focus Covers Full Area
$(function() {
	$("#custom-search").click(function() {
		$("#search-query").focus();
	  });
});


$('#search-query').each(function() {
   var elem = $(this);

   // Save current value of element
   elem.data('oldVal', elem.val());

   // Look for changes in the value
   elem.bind("propertychange change click keyup input paste", function(event){
      // If value has changed...
      if (elem.data('oldVal') != elem.val()) {
       // Updated stored value
       elem.data('oldVal', elem.val());

       // console.log(elem.val())
       
       var names = []
       var clubs = []
       var img_ulrs = []
	   var datetimes =  []

       var endpoint = '/api/searchEvents?term=' + elem.val()

       var num_results = 0
       var max_results = 2

       if(elem.val() != ""){
	       $.ajax({
			    method: "GET",
			    url: endpoint,
			    dataType: 'json', 
			    success: function(data){
			        names = data.names
			        clubs = data.clubs
			        img_ulrs = data.img_ulrs
			        datetimes = data.datetimes


			        console.log(names[0])

			        if(names.length > 0){
			
		        	 	num_results = names.length
		        	 	console.log("Results:" + num_results)
				       
				       	var i = 0; 
				       	for (; i < num_results; i++){
				       		console.log("Updating result " + i)
				       		$("#result" + i).css("display", "block")

				       		document.getElementById("result-title" + i).innerHTML = names[i]
				       		document.getElementById("result-club" + i).innerHTML = clubs[i]
				       		document.getElementById("result-datetime" + i).innerHTML = datetimes[i]
				       		document.getElementById("result-img" + i).src = img_ulrs[i]

				       	}

				       	for (; i < max_results; i++){
				       		$("#result" + i).css("display", "none")

				       	}

				       	updateDrawer(num_results)

			    	} else {
			    		updateText("No result")
			    		updateDrawer(elem, 0)
			    	}

			    },
			    error: function(error_data){
			        console.log("error")
			        console.log(error_data)
			    }
			})
	   } else{
	    	updateDrawer(0)	
	    }
     
     }
   });
 });

function updateDrawer(num_results){
	console.log("Results:" + num_results)
        if(num_results > 0){

       		// console.log("Open drawer")
       		$("#search-results").css("display", "block")
       		$("#search-query").css("border-radius", "5px 0px 0px 0px")
       		$("#search-button").css("border-radius", "0px 5px 0px 0px")

       	} else {
       		// console.log("Close drawer")
       		$("#search-results").css("display", "none")
       		$("#search-query").css("border-radius", "5px 0px 0px 5px")
       		$("#search-button").css("border-radius", "0px 5px 5px 0px")
	       	}

}


function updateText(text){
	document.getElementById("result").innerHTML = text
}


// POP UP BOX

// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


{% endblock %}
</script>




{% block content %}

<div id = "container_id">

	<div id="header">
		<a href="/calendar"><img class="logo" src="{% static '/events/logo.png' %}"></a>
		<div class="nav">
			<h1 id="title1">unical</h1>
		</div>
	<hr id="headhr">
	</div>
	

	<div id="left">

		<div id=miniCalendar>

			<p id="miniCalendarMonth" style="float: left;">{{ miniCalendarMonth }}</p>

			<div id='minibuttonbox' style="float: right;"> 
				<a class="minibtn" href="{% url 'calendar' %}?{{ prev_month }}"><</a>
				<a class="minibtn" href="{% url 'calendar' %}?{{ next_month }}">></a>
			</div>

			<table id="miniCalendarTable">
			    <thead>
			        <tr class="miniCalendarEntry">
			            {% for k in miniCalendarHeader %}
			            <th>{{k}}</th>
			            {% endfor %}
			        </tr>
			    </thead>
			    <tbody>
			        {% for r in miniCalendarRows %}
			            <tr class="miniCalendarEntry">
			                <td class='date'>{{r.mon}}</td>
			                <td class='date'>{{r.tue}}</td>
			                <td class='date'>{{r.wed}}</td>
			                <td class='date'>{{r.thu}}</td>
			                <td class='date'>{{r.fri}}</td>
			                <td class='date'>{{r.sat}}</td>
			                <td class='date'>{{r.sun}}</td>
			            </tr>
			        {% endfor %}
			    </tbody>
			</table>

		</div>
		
		<hr>

			
		<p id=result>Test </p>
	
	
		<table class="table">
		    <thead>
		        <tr>
		            {% for k in clubTableHeader %}
		            <th>{{k}}</th>
		            {% endfor %}
		        </tr>
		    </thead>
		    <tbody>
		        {% for r in clubTableRows %}
		            <tr class="clubEntry">
		                <td id="myBtn2">{{r.name}}</td>
		            </tr>
		        {% endfor %}
		    </tbody>
		</table>


		<!-- Trigger/Open The Modal -->
		<button id="myBtn">Open Modal</button>
	</div>


	<div id="right">	

		<div id='buttonbox'> 

				<div id="custom-search">
					<span><input type="text" name="search" id="search-query" placeholder="Search" />
					<button id="search-button"><i class="fas fa-search"></i></button>
					<div id="search-results"> 
						<div id="result0">
							<a href="/calendar"><img class="search-img" id="result-img0" src="{% static '/events/logo.png' %}"></a>
							<div class="result-div">
								<p class="rtext rname" id="result-title0">title</p>
								<p class="rtext" id="result-club0">club</p>
								<p class="rtext" id="result-datetime0">datetime</p>
							</div>
							<hr class="result-hr">

						</div>

						<div id="result1">
							<a href="/calendar"><img class="search-img" id="result-img1" src="{% static '/events/logo.png' %}"></a>
							<div class="result-div">
								<p class="rtext rname" id="result-title1">title</p>
								<p class="rtext" id="result-club1">club</p>
								<p class="rtext" id="result-datetime1">datetime</p>
							</div>
							<hr class="result-hr">

						</div>


					</div>
					<!-- <input type="submit" value="Submit" style="display: none;"> -->
				</div>
			   

			<!-- <div class="ui-widget" style="float: left">

					<input id="searchBar" placeholder="Search Clubs">
			</div> -->

			<div id="monthbtns">
				<a class="monthButton" href="{% url 'calendar' %}?{{ prev_month }}"> Previous<br>Month </a>
				<a class="monthButton" href="{% url 'calendar' %}?{{ next_month }}"> Next<br>Month </a>

			</div>
			
			
			
		</div>


		<div class = "calendarBlock">
			{{ calendar }}
		</div>

	</div>

	<hr>

</div>

{% endblock %}