
{% extends 'base.html' %}
{% load static %}

{% block content %}


<script>
{% block jquery %}

function goBack() {
  window.history.back();
}

var btnState = 0; 

function follow() {

  var btn = document.getElementById("followBtn");

  if (btnState == 0){

  	 	btn.innerHTML = "&#9733; Follow";
  		btnState = 1;
	} else {

  		btn.innerHTML = "&#9733; Following";  	
  		btnState = 0;

  		}
	}

{% endblock %}
</script>


<button onclick="goBack()" id="backBtn">< Back</button>
<div style="padding-left: 200px; padding-right: 200px; ">


	<!-- <div id="clubInfo"> -->
		<div>
			<p style="float: left;"><img class="clubIcon" src="{{ club.club_image.url }}"></p>
			<h2 id="eventName">{{ club.name }}</h2>
			<img class="icon" src="{% static '/events/pin.png' %}"><p class="eventInfo">{{club.location }}</p>
		<!-- </div><br> -->
		

	</div>
	<img id="eventImg" src="{{ club.cover_image.url }}"><br>	
	<hr>
	<div id="clubInfo">
		<button onclick="follow()" id="followBtn" style="min-width: 100px; float: right; margin-right: 20px; ">&#9733; Follow</button>
		<img class="icon" src="{% static '/events/fb.png' %}"><p class="eventInfo"><a href="https://www.facebook.com/{{ club.fb }}">{{ club.fb }}</a></p><br>
		<img class="icon" src="{% static '/events/web.png' %}"><p class="eventInfo"><a href="{{ club.web }}">{{ club.web }}</a></p><br>
		<img class="icon" src="{% static '/events/instagram.png' %}"><p class="eventInfo"><a href="https://www.instagram.com/{{ club.instagram }}">@{{ club.instagram }}</a></p><br>
		<img class="icon" src="{% static '/events/email.png' %}"><p class="eventInfo"><a href="mailto:{{ club.email }}">{{ club.email }}</a></p><br>
		<!-- <img class="icon" src="{% static '/events/fb.png' %}"><p class="eventInfo"><a href="{{ club.fb }}">{{ club.fb }}</a></p><br> -->

		<hr>

		<h2>About</h2>
		<p id = "description">{{ club.description }} </p>
		<h2>Upcoming Events</h2>
		<div>
			{% if events %}
			{% for event in events %}
			{{ event }}
			{% endfor %}

			{% else %}
			<p> No Upcoming Events</p>
			{% endif %}

		</div>
	</div>

</div>
<button onclick="goBack()" id="backBtn">< Back</button>
{% endblock %}