
{% extends 'base.html' %}
{% load static %}

{% block content %}


<script>
{% block jquery %}

function goBack() {
  window.history.back();
}

{% endblock %}
</script>


<div id = "container_id">

	<div id="header">
		<a href="/calendar"><img class="logo" src="{% static '/events/logo.png' %}"></a>
		<div class="nav">
			<h1 id="title1">unical</h1>
		</div>
	<hr id="headhr">
	</div>
	


	<button onclick="goBack()" id="backBtn">Back to Calendar</button>

	<img id="eventImg" src="{{ event.event_image.url }}"><br>

	<div id="clubInfo">
		<div>
			<p style="float: left;"><img class="clubIcon" src="{{ event.club.club_image.url }}"></p>
			<h2 id="eventName">{{ event.name }}</h2>
			<p class="eventInfo">{{ event.club.name }}</p>
		</div><br>
		<hr>

		
		
		<img class="icon" src="{% static '/events/clock.png' %}"><p class="eventInfo">{{ event.day }} at {{ event.start_time }} - {{ event.end_time }}</p><br>
		<img class="icon" src="{% static '/events/pin.png' %}"><p class="eventInfo">{{ event.location }}</p><br>
		{% if event.price > 0 %}
			<img class="icon" src="{% static '/events/ticket.png' %}"><p class="eventInfo">${{ event.price }}</p><br>
		{% else %}
			<img class="icon" src="{% static '/events/ticket.png' %}"><p class="eventInfo">Free</p><br>
		{% endif %}
		<img class="icon" src="{% static '/events/fb.png' %}"><p class="eventInfo"><a href="{{ event.fb }}">{{ event.fb }}</a></p><br>

		<hr>
		<h2>About</h2>
		<!-- This is super unsafe... -->
		{{ event.description | safe }} 



	</div>

</div>
{% endblock %}