/* cal/static/cal/css/styles.css */


html {
   margin: 0px;
   height: 100%;
   width: 100%;
   overflow: auto;
   display: flex;
}

body {
   margin: 0px;
   height: 100%;
   width: 100%;
   overflow: auto;
   display: flex;
}




.calendarWeek{
  height: 800px;

}

.header {
  width: 100%;
  margin: auto;
  /*padding: 20px;*/
  text-align: center;
  background: #FFFFFF;
  color: white;
  /*font-size: 30px;*/

  color: #680C0C;
  text-align: left;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-style: italic;

}

#headhr {
  margin-top: 0; 
}

#title1 { 
  font-family: 'Open Sans', sans-serif; 
  font-size: 54px; 
  font-weight: 100;

  /*line-height: 15px; */
  margin: 0;
  margin-right: 20px;  
  font-style: italic;
  /*padding-top: 30px;*/
  color: rgba(222, 43, 49, 1);
  /*padding-right: 20px; */
  display: inline;
  float: left;

  }

.logo {
  width: 64px;
  height: 54px;
  float: left;
  padding-left: 20px; 
}



.nav{
  display: inline;
  float: bottom; 
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/

}

#backBtn{
  margin: 10px;
  background-color: white;
  color: #008CBA;
  border: 2px solid #008CBA;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 5px; 
  border-radius: 5px; 
}

#backBtn:hover{
  margin: 10px;
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
  background-color: #111;
}




#container_id{
  width: 90%;
  margin: auto; 
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: center;
  height: 100vh;
  min-width: 750px;
  height: 100%; 
  overflow: auto;

}


.column {
    width: 95%;
    margin: auto;
    box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.75);
    height: 100vh;
    padding: 10px;

    background-color: #FFFFFF;
    min-width: 750px; 

  } 

.icon {
  height: 15px;
  width: 15px;
  display: inline; 
  margin-right: 10px; 
}

.clubIcon {
  height: 70px;
  width: 70px;
  display: inline; 
  margin-right: 10px; 
}

.eventInfo {
  display: inline;
}

#description{
  white-space: pre-line;
}

#eventName{
margin: 0;
padding-top: 10px;  
}

#clubInfo{
  padding-left: 20px; 
}

#left{
  float: left;
  width: 25%;
  padding-left: 20px; 
  padding-right: 10px; 
}

#right{
  float: right;
  width: 75%;
  padding-right: 20px; 
}



.miniCalendarEntry{
  font-family: courier;

}


#eventImg{
  width: 100%;
}



#miniCalendarTable{
  width: 100%; 
}

#miniCalendar{
  padding: 10px;
  width: 100%; 
  /*padding-bottom: 50%; */
}

#miniCalendarMonth{
  font-family: courier;
  font-weight: bold; 
  font-size: 16px;
  float: left;
  width: 80%; 

}


#minibuttonbox{
  font-family: courier;
  font-weight: bold; 
  font-size: 16px;
  float: right;
  width: 20%;
}



#sub-title { 
  color: #2D2E33; 
  font-family: 'Lucida Sans', Arial, sans-serif; 
  font-size: 16px; 
  line-height: 26px; 
  text-indent: 30px; 
  margin: 0; 
  font-style: italic;
  color: rgba(241, 148, 92, 1);
  }


  /*a { color: #2D2E33; text-decoration: underline; }*/


.monthButton{
  /*background-color: #4CAF50; /* Green */*/
  color: black;
  padding-left: 10px; 
  padding-right: 10px;
  min-width: 100px;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px; 
  border-style: solid;
  border-width: 1px; 
  border-color: red; 
}


.monthButton{
    color: black;
}

.monthButton:hover {
  color: red; 
  text-decoration: none;
}




.date:hover{
  font-weight: bold;
  cursor: pointer;
}

.clubEntry:hover {
  background-color: #F7F7F7; 
}



.calendar.week td {
  width: 100px;
  height: 600px;
  padding: 20px 0px 0px 5px;
}


.calendarWeek {
  font-size: 10px;
  float: right;
  width: 100%
}

.calendarWeek tr{
  /*border: 1px solid black;*/
  height: 10px; 
  padding: 5px; 
}

.calendarWeek th {
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

.calendarWeek td {
  width: 100px;
  height: 100px;
  padding: 20px 0px 0px 5px;
}



.calendar {
  font-size: 10px;
  float: right;
  width: 100%
}

.calendar tr, .calendar td {
  /*border: 1px solid black;*/
}

.calendar th {
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

.calendar td {
  width: 100px;
  height: 100px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
  text-decoration: none; 
  color: black; 
}

ul {
  height: 100%;
  padding: 0px 5px 0px 5px;
}


.navbar{
  margin: 10px; 
  width: 100%; 

  /*background-color: rgba(195, 66, 63, 0.5);*/
}

.navbar ul{
  list-style-type: none;
}

.navbar li {
  background-color: rgba(195, 66, 63, 0.5);
  width: 200px;
  display: inline;
  border: 1px solid rgba(195, 66, 63, 1);
  padding: 10px 30px;
  margin-left: -4px; 
}

.navbar li a {
  text-align: center;
  color: white; 
  text-decoration: none; 
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.navbar li:hover {
  display: inline;
  background-color: rgba(195, 66, 63, 1);
}
/*a {
  color: #17a2b8;
}*/


/*
.split_left {
  left: 0;
  float: left;
  min-width: 200px;
  margin-left: 30px;
}

.split_right {
  float: right;
  right: 0;
}*/



.noday {
  background-color: rgba(0,0,0,0.05);
  /*box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);*/
  /*box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.75);*/
  border: 0px;
}


#siderow{
  padding-left: 50px; 
}

.clubTitle{
  height: 10px;
  border: 1px solid black;
}

#buttonbox {
  /*float: right; */
  width: 100%;
}


#monthbtns{
  padding-right: 40px; 
  float: right;
}

.btn {
  outline: none;
  color: white;
  background-color: rgba(0,0,0,0.25);
  box-shadow: 0 0 0 0;
  width: 100px; 
  height: 40px; 
  font-size: 10px; 
  margin-left: 10px;
  float: right;
  font-style: italic;

}

.btn:hover {

}


.calendarBlock {
  padding-right: 40px;
}

/*POP UP BOX*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  /*position: relative; /* Stay in place */*/
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,.04); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;  
}

#nav ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0; 
}

#nav li {
  float: left; 
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; 
}

#nav li:first-child a {
  border-left: 1px solid #ccc; 
}

#nav li a:hover {
  color: #c00;
  background-color: #fff; 
}

